.mdel-team-member {

  &.mdel-member-skin-one {
    .mdel-member {
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;

      .mdel-grey {
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }
    }

    .mdel-member-paint {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      overflow: hidden;
      transition: all 1s ease;
    }

    &:hover .mdel-member-paint {
      height: 100%;
    }
  }

  &.mdel-member-skin-two {
    position: relative;
    overflow: hidden;

    .mdel-member {
      overflow: hidden;
    }

    img {
      transition: all 1s ease;
    }

    .mdel-member-data {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      transition: all 1s ease;
      transition-delay: 0.5s;
      transform: translateY(100%);
      opacity: 0;

      h3,
      div {
        color: #fff;
      }
    }

    &:hover {
      img {
        transform: scale(1.5) rotate(10deg);
      }

      .mdel-member-data {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }


  h3 {
    margin: 0 10px 5px 10px;
  }

  .mdel-member-position {
    margin: 0 10px 20px;
    font-size: 15px;
    color: #888;
  }

  .mdel-member-content {
    margin: 0 10px;
  }

}