.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) {
  position: relative;
  overflow: hidden;
}

.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) .mdel-fancy-img-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 25px;
  color: #fff;
  background: linear-gradient(45deg, #de1791, #61045f);
  -webkit-clip-path: circle(20px at calc(100% - 35px) 35px);
          clip-path: circle(20px at calc(100% - 35px) 35px);
  -webkit-transition: -webkit-clip-path 2s cubic-bezier(0.02, 0.63, 0.65, 1.04);
  transition: -webkit-clip-path 2s cubic-bezier(0.02, 0.63, 0.65, 1.04);
  transition: clip-path 2s cubic-bezier(0.02, 0.63, 0.65, 1.04);
  transition: clip-path 2s cubic-bezier(0.02, 0.63, 0.65, 1.04), -webkit-clip-path 2s cubic-bezier(0.02, 0.63, 0.65, 1.04);
  z-index: 1;
}

.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) .mdel-fancy-img-content .mdel-fancy-opener {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) .mdel-fancy-img-content h1,
.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) .mdel-fancy-img-content h2,
.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) .mdel-fancy-img-content h3,
.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) .mdel-fancy-img-content h4,
.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) .mdel-fancy-img-content h5,
.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) .mdel-fancy-img-content h6 {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.3em;
}

.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip) .mdel-fancy-img-content a.mdel-fancy-img-btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-top: 8px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip):hover .mdel-fancy-img-content {
  -webkit-clip-path: circle(150%);
          clip-path: circle(150%);
}

.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip):hover .mdel-fancy-opener {
  opacity: 0;
}

.mdel-fancy-img-text:not(.mdel-imginfo-skin-imageclip):not(.disableglow):before {
  content: '';
  width: 30px;
  height: 30px;
  background: #fd77fd;
  z-index: 0;
  right: 20px;
  top: 20px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-animation: glower 1s ease-in-out forwards infinite;
          animation: glower 1s ease-in-out forwards infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.mdel-imginfo-skin-imageclip {
  overflow: hidden;
}

.mdel-imginfo-skin-imageclip img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-clip-path: circle(150%);
          clip-path: circle(150%);
  margin-bottom: -60%;
}

.mdel-imginfo-skin-imageclip a.mdel-fancy-img-btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-top: 8px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.mdel-imginfo-skin-imageclip:hover img {
  -webkit-clip-path: circle(100px at 50% 30%);
          clip-path: circle(100px at 50% 30%);
}

.mdel-imginfo-skin-imageclip .mdel-fancy-img-content {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  position: relative;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
}

.mdel-imginfo-skin-imageclip .mdel-fancy-img-content h3,
.mdel-imginfo-skin-imageclip .mdel-fancy-img-content p,
.mdel-imginfo-skin-imageclip .mdel-fancy-img-content a {
  color: #333;
}

.mdel-imginfo-skin-imageclip:hover .mdel-fancy-img-content {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

@-webkit-keyframes glower {
  0% {
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
}

@keyframes glower {
  0% {
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
}
/*# sourceMappingURL=fancy-image-text.css.map */